<div class="image">
	<img src="https://i.ytimg.com/vi/lcL678AASFc/maxresdefault.jpg">
</div>
	

	<div class="container">
			<div class="sticky-top">
		<nav class="sticky-top">
			<ul class="list-inline-item">
				<li class="list-inline-item">
					<a  href="/auth/home">Home</a>
				</li>
				<li class="list-inline-item">
					<a href="/users/new">Register</a>
				</li>
				<li class="list-inline-item">
					<a  href="/auth/login">Login</a>
				</li>
				<li class="list-inline-item">
					<a  href="/auth/logout">Logout</a>
				</li>
			</ul>
		</nav>
	</div>

		<h1>Edit Canvas Content</h1>

		
		<div class="field">
			<div class="row">
				<div class="form-group col-6">
			
				<% for (let i = 0; i < user.photos.length; i++ ) {%>
				
				<form action='/photos/<%=user.photos[i]._id%>?_method=PUT' method	="POST">
					
						
						<label>Image Source: </label>
						<input type="text" name="url" class="	form-control" id="exampleInputEmail" value="<%=	user.photos[i].url%>" />
					
						<label>Image Title: </label>
						<input type="text" name="title" class="	form-control" id="exampleInputEmail" value="<%=	user.photos[i].title%>" />
				
						<label>Image Description: </label>
						<input type="text" name="description" class="	form-control" id="exampleInputEmail" value="<%=	user.photos[i].description%>"/>

						
					<!-- </div> -->
					<button type="Submit" class="btn btn-dark">Edit Photo</button>	
				</form>

				<form action="/photos/<%=user.photos[i]._id%>?_method=DELETE" method="POST">
						<button class="btn btn-dark">Delete This Photo</button>
					</form>
		<%}%>
		</div>

<div class="form-group col-6">

			<% for (let i = 0; i < user.poems.length; i++ ) {%>
				
				<form action='/poems/<%=user.poems[i]._id%>?_method=PUT' method	="POST">
				
						<label>Poem Title: </label>
						<input type="text" name="title" class="	form-control" id="exampleInputEmail" value="<%=	user.poems[i].title%>" />
					
						<label>Poem Text </label>
						<input type="text" name="description" class="	form-control" id="exampleInputEmail" value="<%=	user.poems[i].description%>"/>
						
				
					<button type="Submit" class="btn btn-dark">Edit Poem</button>	
				</form>
				<form action="/poems/<%=user.poems[i]._id%>?_method=DELETE" method="POST">
						<button class="btn btn-dark">Delete This Poem</button></div>
					</form>
		<%}%>
	</div>
</div>