<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<header>
		<h1>Photographs by <%= user.name%></h1>
		<nav>
			<ul>
				<li>
					<a class="btn btn-primary btn-lg" href="/" role="button">Home</a>
				</li>
				<li>
					<a class="btn btn-primary btn-lg" href="/users/new" role="button"></a>
				</li>
			</ul>
		</nav>
	</header>
	<main>
		<ul>
			<% if(user.photos != undefined) {%>
			<% for (let i = 0; i < user.photos.length; i++) { -%>
				
			<% } -%>
			<li>Name: <%=user.name%></li>
			<li><a href="/photos/new">Add Photos</a></li>
			<li><a href="/users/<%= user.id%>/edit">Edit MyCanvas</a>
				<form action="/users/<%=user.id%>?_method=DELETE" method="POST">
						<button>Delete <%=user.name%></button>
				</form></li>
		</ul>
	</main>
</body>
</html>