<!DOCTYPE html>
<html>
<head>
	<title>Users Show Page</title>
</head>
<body>
	<header>
	<h1><%= user.name%> Canvas</h1>
	<nav>
		
			
				<a class="btn btn-primary btn-lg" href="/" role="button">Home</a>
		
			
				<a class="btn btn-primary btn-lg" href="/users/new" role="button">Users Index</a>
		
		
	</nav>
</header>
<main>
	<ul>
		<% if(user.photos != undefined) {%>
		<% for (let i = 0; i < user.photos.length; i++) { -%><li><a href="/photos/<%=user.photos[i].id%>"><img src="<%= user.photos[i].url%>"></a></li>
			
		<% } -%>
		<% } -%>
		<li><a href="/photos/new">Add Photos</a></li>
		<li><a href="/users/<%= user.id%>/edit">Edit user information</a><form action="/users/<%= user.id%>?_method=DELETE" method="POST">
			<button>Delete</button>
		</form></li>
	</ul>
</main>
</body>
</html>