<body style=" background-color: rgb(50, 50, 50);" class="show-page"> 
	<div class="sticky-top">
		<nav class="sticky-top">
		
				<ul class="list-inline-item">
					<li class="list-inline-item">
						<a class="btn btn-primary btn-sm" href="/auth/home" role="button">Home</a>
					</li>
					<li class="list-inline-item">
						<a class="btn btn-primary btn-sm" href="/users/" role="button">Community Canvas</a>
					</li>
					<li class="list-inline-item">
						<a class="btn btn-primary btn-sm" href="/photos/new">Add Photos</a>
					</li>
					<li class="list-inline-item">
						<a class="btn btn-primary btn-sm" href="/photos/edit">Edit My Content</a>
					</li>
					<li class="list-inline-item">
						<a class="btn btn-primary btn-sm" href="/users/<%= user.id%>/edit">Edit My Information</a>
					</li>
					<li class="list-inline-item">
					<form action="/users/<%= user.id%>?_method=DELETE" method="POST">
						<button class="btn btn-primary btn-sm">Delete My Account</button>
						</form>
					</li>
					<li class="list-inline-item">
					<a  class="btn btn-primary btn-sm" href="/auth/logout">Logout</a>
				</li>
				</ul>	
			</nav>
	</div>
    
    <div class="other-stuff">
    	<div id="left" class="column">
        	<div class="top-left"></div>
        	<div class="bottom">
        		<div class="music">
        			
        			<iframe src="https://open.spotify.com/embed?uri=spotify:user:12161249065:playlist:0TfEsGcJcuhLiK7bS2o8DF" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        		</div>
        	</div>
    	</div>
    	<div id="right">
        	<div class="top-right">

        	<h1 class="text-center display-3"><%= user.username%>'s Canvas</h1>

        		
        	</div>

			<% if (message) {%>
				<p style="background-color: pink"><%=message%></p>
			<%}%>
			
	    	<div class="images card" >
	    		<% if(user.photos != undefined) {%>
					<% for (let i = user.photos.length-1; i >= 0; i--) { -%>
						<% if (user.photos[i].url) {%>
							
								<img src="<%= user.photos[i].url%>" class="show-image card-img img-fluid">
						
						<%} %>
					<% } -%>
				<% } -%>

				<% if(user.poems != undefined) {%>
					<% for (let i = user.poems.length-1; i >= 0; i--) { -%>
		
							<div class="show-image card card-block poem"><%=user.poems[i].body%></div>
						
					<% } -%>
				<% } -%>
			

        	</div>
        </div>

	</div>




    



