<body style="background-color: rgb(50, 50, 50);" class="show-page"> 
	 <div class="navbar navbar-default navbar-fixed-top">
		<nav class="navbar" id="index">
			
				<ul class="list-inline-item">
					<li class="list-inline-item">
						<a class="btn btn-primary btn-sm" href="auth/home" role="button">Home</a>
					</li>
					<li class="list-inline-item">
						<a class="btn btn-primary btn-sm" href="/users/index" role="button">Community Canvas</a>
					</li>
					<li class="list-inline-item">
						<a class="btn btn-primary btn-sm" href="/photos/new">Add Photos</a>
					</li>
					<li class="list-inline-item">
						<a class="btn btn-primary btn-sm" href="/photos/edit">Edit Content</a>
					</li>
					<li class="list-inline-item">
						<a class="btn btn-primary btn-sm" href="/users/<%= user.id%>/edit">Edit User Information</a>
					</li>
					<li class="list-inline-item">
						<form action="/users/<%= user.id%>?_method=DELETE" method="POST">
							<button class="btn btn-primary btn-sm">Delete User Account</button>
						</form>
					</li>
				</ul>	
			</nav>
	</div>
    
    <div class="other-stuff">
    	<div id="left" class="column">
        	<div class="top-left"></div>
        	<div class="bottom">
        		<div class="music">
        			<p>music api will go in here</p>
        		</div>
        	</div>
    	</div>
    	<div id="right" class="column">
        	<div class="top-right">
        	<h1 class="text-center display-3"><%= user.username%> Canvas</h1>

        </div>
    	<div class="bottom">

    		<% if (message) {%>
				<p style="background-color: pink"><%=message%></p>
			<%}%>
        	
        	<ul><% if(user.photos != undefined) {%>
				<% for (let i = 0; i < user.photos.length; i++) { -%><li><a href="/photos/<%=user.photos[i].id%>"><img src="<%= user.photos[i].url%>"></a></li>
			
				<% } -%>
			<% } -%>
		
			</ul>





        </div>
    </div>

    </div>

    



