<!DOCTYPE html>
<html>
<head>
	<title>Users Show Page</title>
</head>
<body style="background-color: rgb(50, 50, 50);">
	<header>
	<h1 class="text-center display-3"><%= user.username%> Canvas</h1>
	<nav>
	<ul class="list-inline-item">
		<li class="list-inline-item">
			<a class="btn btn-primary btn-sm" href="/" role="button">Home</a>
		</li>
		<li class="list-inline-item">
			<a class="btn btn-primary btn-sm" href="/users/new" role="button">Users Index</a>
		</li>
	</ul>	
	</nav>
	</header>
	<main>
	<ul>
		<% if(user.photos != undefined) {%>
		<% for (let i = 0; i < user.photos.length; i++) { -%><li><a href="/photos/<%=user.photos[i].id%>"><img src="<%= user.photos[i].url%>"></a></li>
			
		<% } -%>
		<% } -%>
		<li><a href="/photos/new">Add Photos</a></li>
		<li><a href="/photos/edit">Edit Content</a></li>
		<li><a href="/users/<%= user.id%>/edit">Edit user information</a><form action="/users/<%= user.id%>?_method=DELETE" method="POST">
			<button>Delete</button>
		</form></li>
	</ul>
	</main>
</body>
</html>